body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    color: #333;
}

/* Header */
#header {
    background: linear-gradient(135deg, #007bff, #6610f2);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#logo:hover {
    transform: scale(1.1);
}
#navbar {
    position: fixed;
    top: 0;
    right: 300px;
    width: 100;
    Z-index: 1000;
    
}

#navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

#navbar ul li a:hover {
    color: #f8f9fa;
}

/* Welcome Section */
#welcome-section {
    background: linear-gradient(to bottom right, #6f42c1, #007bff);
    padding: 100px 20px;
    text-align: center;
    color: white;
    animation: fadeIn 2s ease-in;
}

#welcome-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#welcome-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#welcome-section p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

.btn-box a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-box a:hover {
    background-color: #6610f2;
    transform: translateY(-5px);
}

/* Social Icons */
.home-sci a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.home-sci a:hover {
    transform: scale(1.2) rotate(10deg);
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
